/*
 * Use this CSS to learn some interesting techniques,
 * in case you're wondering how I built the UI.
 * Have fun! 😁
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #444;
    background-color: #f3f3f3;
    padding: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-container {
    display: none;
    flex-direction: column;
    width: 200px;
    height: auto;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 7px 0 #00000033;
    background-color: #86c4aa;
    position: fixed;
    bottom: 70px;
    left: 20px;
    z-index: 10000;
}

.profile-container.active {
    display: flex;
}

.profile-login, .profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-container input, .profile-container select, .profile-container button {
    width: 100%;
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
}

.profile .profile-title {
    text-align: center;
    font-weight: bold;
    color: #e52a5a;
    font-size: 20px;
}

.profile-container button {
    transition: all 0.2s;
    cursor: pointer;
}

.profile-container button:hover {
    background-color: #e52a5a;
    color: #ffffff;
}


.welcome {
    font-size: 1.9rem;
    font-weight: 500;
}

.logo {
    height: 5.25rem;
}

.profile-btn {
    cursor: pointer;
    background-color: #39b385;
    color: #fff;
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 7px 0 #00000033;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 999;
    animation: rotate 50s linear infinite;
    line-height: 1em;
}

.profile-btn:hover {
    animation-play-state: paused;
}

/* MAIN */
.app {
    position: relative;
    max-width: 100rem;
    margin: 4rem auto;
    display: none;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto repeat(3, 15rem) auto;
    gap: 2rem;
}

.balance {
    grid-column: 1 / span 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.balance__label {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: -0.2rem;
}

.balance__date {
    font-size: 1.4rem;
    color: #888;
}

.balance__value {
    font-size: 4.5rem;
    font-weight: 400;
}

/* MOVEMENTS */
.movements {
    grid-row: 2 / span 3;
    background-color: #fff;
    border-radius: 1rem;
    overflow-y: auto;
}

.movements__row {
    padding: 2.25rem 4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.movements__type {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    padding: 0.1rem 1rem;
    border-radius: 10rem;
    margin-right: 2rem;
}

.movements__date {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #666;
}

.movements__type--deposit {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
    font-size: 1.7rem;
    margin-left: auto;
}

/* SUMMARY */
.summary {
    grid-row: 5 / 6;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 20px;
    justify-content: center;
    padding: 0 0.3rem;
    margin-top: 1rem;
}

.summary > div:last-child {
    display: flex;
    gap: 10px;
    justify-content: end;
}

.summary > div {
    flex-grow: 1;
    flex-basis: 100px;
}

.summary__label {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 0.8rem;
}

.summary__value {
    font-size: 2.2rem;
    margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
    color: #66c873;
}

.summary__value--out {
    color: #f5465d;
}

.summary .btn--sort.active {
    background-color: #f5465d;
}

.btn--sort {
    width: 55px;
    height: 55px;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #00000044;
    transition: all 0.3s;
}

.btn--sort:hover {
    background-color: #f5465d;
}

.btn--sort img {
    width: 80%;
}

/* OPERATIONS */
.operation {
    border-radius: 1rem;
    padding: 3rem 4rem;
    color: #333;
}

.operation--transfer {
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: #333;
}

.form {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.4rem 1rem;
}

/* Exceptions for interest */
.form.form--loan {
    grid-template-columns: 2.5fr 1fr 2.5fr;
}

.form__label--loan {
    grid-row: 2;
}

/* End exceptions */

.form__input {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
    padding: 0.3rem 1rem;
    border-radius: 0.7rem;
    transition: all 0.3s;
}

.form__input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
    font-size: 1.3rem;
    text-align: center;
}

.form__btn {
    border: none;
    border-radius: 0.7rem;
    font-size: 1.8rem;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.form__btn:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
    padding: 0 0.3rem;
    margin-top: 1.9rem;
    text-align: right;
    font-size: 1.25rem;
}

.timer {
    font-weight: 600;
}

.notification {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 7px 0 #00000066;
    background-color: #eeeeee;
    width: 300px;
    position: fixed;
    bottom: 20px;
    right: -100%;
    padding: 10px;
    transition: all 1s;
}

.notification.active {
    right: 10px;
}

.notification .note-title {
    display: flex;
    gap: 5px;
    align-items: center;
}

.notification .note-title > img {
    width: 30px;
}

footer {
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .welcome {
        font-size: 1.5rem;
    }

    .balance {
        grid-column: 1;
    }

    .app {
        grid-template-columns: auto;
        grid-template-rows: auto repeat(3, 15rem) auto repeat(3, 15rem) auto;
    }

    .app .summary {
        margin-bottom: 20px;
    }

    .balance__value {
        font-size: 3.5rem;
    }
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(3600deg);
    }
}